.centrado{
    text-align: center;  
    margin-left: 10px;
    margin-right: 10px;
  }

ion-thumbnail {
    --border-radius: 4px;
  }

  ion-toolbar {
    --background: #c90e2d;
    --color: rgb(255, 255, 255);
  }
