<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soporte</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br>
  <br>
  <div class="centrado">
    <h1>Soporte técnico de AutomatizaCS</h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="container" class="centrado">
    <strong class="capitalize">Bienvenido al soporte de tu App para el control de tu Boutique Magenta</strong>
    <p>Nos esforzamos para realizar aplicaciones de calidad
      que cumpla con tus necesidades de la mejor manera posible 
      , pero entendemos que puede suceder algun inconveniente por lo que agradecemos 
      que te comuniques con nosotros por medio de nuestra pagina <br> <br> <br> <a target="_blank" rel="noopener noreferrer" href="http://automatizacs.com.mx/">AutomatizaCS SAS</a></p>
  </div>
</ion-content>
