<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Abonos</ion-title>
    <ion-back-button slot="start"defaultHref="/inventario"></ion-back-button >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 

  <ion-card>
  
    <ion-item fill="outline">
      <ion-label position="stacked">FECHA DE APARTADO:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item fill="outline">
      <ion-label position="stacked">FECHA LIMITE:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item fill="outline">
      <ion-label position="stacked">TOTAL A PAGAR:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item fill="outline">
      <ion-label position="stacked">FECHA DEL ULTIMO ABONO:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="stacked">CANTIDAD DEL ULTIMO ABONO:</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="stacked">TOTAL RESTANTE:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  
    <ion-item fill="outline">
      <ion-label position="stacked">FECHA DE ENTREGA:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  

    
  
  </ion-card>

    <ion-button fill="outline" expand="block" routerLink="/">Apartar Articulo</ion-button>

  




</ion-content>
